.topNav{
  padding: 10px $gb-gutter;

  .logo{
    display: inline-block;
    margin-right: 15px;
    font-weight: bold;
    vertical-align: middle;
  }

  .search{
    display: inline-block;
    max-width: 500px;
    width: 100%;
    vertical-align: middle;
  }

  .ui.input{
    width: 100%;
  }
  .ui.search>.results{
    width: 100%;
    max-width: 500px;
  }
}

