.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.shrink{
  flex: 0 0 auto;
}

body{
  overflow-x: hidden !important;
}

.sidebar{
  width: 230px;
  .ui.vertical.menu{
    width: 100%;
    background: $offWhite;
    margin-top: 0;
    padding: 0px 5px 0px 15px;
  }

  @extend .shadow1;

}

.shadow1{
  box-shadow: 0 1px 6px rgba(0,0,0,0.1);
}

.ui.menu.menu-ngang{
  background: white;
  @extend .shadow1;
  position: relative;
  margin-bottom: 25px;

  &:after{
    content: "";
    width: 20px;
    background: white;
    height: 100%;
    left: -20px;
    top: 0;
    position: absolute;
  }

  a{

  }
  &.secondary.pointing .item{
    padding: 0.9em 1.14285714em;
  }

   .active.item{
     border-color: $green !important;
  }
}

.content-padding{
  padding-right:20px;
}

.flex-nowrap{
  flex-wrap: nowrap !important;
}

.filter{
  .fields{
    flex-wrap: wrap;
  }
}

.desadmin-sidebar-accordion.ui.accordion{
  .title{
    font-weight: bold;
  }

  .title.active{
    color: white;
    background: $green;
  }
}


.ui.icon .picker__holder{
  min-width: 260px;
  top: 35px;
}