{{#extend "layout"}}
{{#content "head" mode="append"}}
<!--<link rel="stylesheet" href="assets/css/home.css" />-->
{{/content}}


{{#content "body"}}


<div class="ui secondary pointing menu menu-ngang">
    <a class="active item">
        QL Banner
    </a>
    <a class="item">
        QL Đối tác
    </a>
    <a class="item">
        QL Chương trình
    </a>

    <a class="item">
        Co-Brand
    </a>
    <a class="item">
        Sản phẩm bán chạy
    </a>

</div>


<div class="content-padding">

    <h3>Button thường sử dụng

        <div class="ui small basic icon buttons">
            <a href="#modal1" class="ui button show-modal"><i class="sticky note outline icon "></i> Tạo mới</a>
            <a href="#link1" class="ui button"><i class="filter icon"></i> Lọc sản phẩm lỗi</a>
            <a href="#link1" class="ui button"><i class="file excel outline icon"></i> Xuất Excel</a>
            <a href="#link1" class="ui button"><i class="download icon"></i> Import Excel</a>
        </div>

    </h3>

    <h5>Button</h5>

    <button class="ui primary button">
        Save
    </button>
    <button class="ui button basic">
        Discard
    </button>
    <button class="ui active button">
        <i class="user icon"></i>
        Button active
    </button>
    <button class="ui disabled button">
        <i class="user icon"></i>
        Button disabled
    </button>
    <button class="ui loading button">Loading</button>


    <pre class="language-markup"><code class="language-markup">
&lt;button class="ui primary button"&gt;
Save
&lt;/button&gt;
&lt;button class="ui button basic"&gt;
    Discard
&lt;/button&gt;
&lt;button class="ui active button"&gt;
    &lt;i class="user icon"&gt;&lt;/i&gt;
    Button active
&lt;/button&gt;
&lt;button class="ui disabled button"&gt;
    &lt;i class="user icon"&gt;&lt;/i&gt;
    Button disabled
&lt;/button&gt;
&lt;button class="ui loading button"&gt;Loading&lt;/button&gt;
    </code></pre>




    <h5>Labeled</h5>

    <div class="ui labeled button" tabindex="0">
        <div class="ui button">
            <i class="heart icon"></i> Like
        </div>
        <a class="ui basic label">
            2,048
        </a>
    </div>
    <div class="ui left labeled button" tabindex="0">
        <a class="ui basic right pointing label green">
            2,048
        </a>
        <div class="ui button green">
            <i class="heart icon"></i> Like
        </div>
    </div>
    <div class="ui left labeled button" tabindex="0">
        <a class="ui  red  basic label">
            1,048
        </a>
        <div class="ui icon red button">
            <i class="fork icon"></i>
        </div>
    </div>

    <pre class="language-markup"><code class="language-markup">
&lt;div class="ui labeled button" tabindex="0"&gt;
    &lt;div class="ui button"&gt;
        &lt;i class="heart icon"&gt;&lt;/i&gt; Like
    &lt;/div&gt;
    &lt;a class="ui basic label"&gt;
        2,048
    &lt;/a&gt;
&lt;/div&gt;
&lt;div class="ui left labeled button" tabindex="0"&gt;
    &lt;a class="ui basic right pointing label green"&gt;
        2,048
    &lt;/a&gt;
    &lt;div class="ui button green"&gt;
        &lt;i class="heart icon"&gt;&lt;/i&gt; Like
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="ui left labeled button" tabindex="0"&gt;
    &lt;a class="ui  red  basic label"&gt;
        1,048
    &lt;/a&gt;
    &lt;div class="ui icon red button"&gt;
        &lt;i class="fork icon"&gt;&lt;/i&gt;
    &lt;/div&gt;
&lt;/div&gt;
    </code></pre>


    <h5>Buttons group</h5>

    <div class="ui buttons">
        <button class="ui button">One</button>
        <button class="ui button">Two</button>
        <button class="ui button">Three</button>
    </div>

    <div class="ui small basic icon buttons">
        <button class="ui button"><i class="file icon"></i></button>
        <button class="ui button"><i class="save icon"></i></button>
        <button class="ui button"><i class="upload icon"></i></button>
        <button class="ui button"><i class="download icon"></i></button>
    </div>


    <div class="ui buttons">
        <button class="ui red basic button">One</button>
        <button class="ui blue basic button">Two</button>
        <button class="ui green basic button">Three</button>
    </div>


    <div class="blue ui buttons">
        <button class="ui button active">One</button>
        <button class="ui button">Two</button>
        <button class="ui button">Three</button>
    </div>

    <pre class="language-markup"><code class="language-markup">
&lt;div class="ui buttons"&gt;
    &lt;button class="ui button"&gt;One&lt;/button&gt;
    &lt;button class="ui button"&gt;Two&lt;/button&gt;
    &lt;button class="ui button"&gt;Three&lt;/button&gt;
&lt;/div&gt;

&lt;div class="ui small basic icon buttons"&gt;
    &lt;button class="ui button"&gt;&lt;i class="file icon"&gt;&lt;/i&gt;&lt;/button&gt;
    &lt;button class="ui button"&gt;&lt;i class="save icon"&gt;&lt;/i&gt;&lt;/button&gt;
    &lt;button class="ui button"&gt;&lt;i class="upload icon"&gt;&lt;/i&gt;&lt;/button&gt;
    &lt;button class="ui button"&gt;&lt;i class="download icon"&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;

&lt;div class="ui buttons"&gt;
    &lt;button class="ui red basic button"&gt;One&lt;/button&gt;
    &lt;button class="ui blue basic button"&gt;Two&lt;/button&gt;
    &lt;button class="ui green basic button"&gt;Three&lt;/button&gt;
&lt;/div&gt;

&lt;div class="blue ui buttons"&gt;
    &lt;button class="ui button active"&gt;One&lt;/button&gt;
    &lt;button class="ui button"&gt;Two&lt;/button&gt;
    &lt;button class="ui button"&gt;Three&lt;/button&gt;
&lt;/div&gt;
    </code></pre>








    <div class="ui small info message">
        Xem thêm về button tại đây : <a href="http://semantic-ui.com/elements/button.html" target="_blank">Link</a>
    </div>
    

</div>

<br>

<br>


{{/content}}




{{#content "foot" mode="prepend"}}
<!--<script src="assets/js/analytics.js"></script>-->
{{/content}}
{{/extend}}