{{#extend "layout"}}
{{#content "head" mode="append"}}
<!--<link rel="stylesheet" href="assets/css/home.css" />-->
{{/content}}


{{#content "body"}}


<div class="ui secondary pointing menu menu-ngang">
    <a class="active item">
        QL Banner
    </a>
    <a class="item">
        QL Đối tác
    </a>
    <a class="item">
        QL Chương trình
    </a>

    <a class="item">
        Co-Brand
    </a>
    <a class="item">
        Sản phẩm bán chạy
    </a>

</div>


<div class="content-padding">

    <h3>Dropdown thường sử dụng

        <div class="ui small basic icon buttons">
            <a href="#modal1" class="ui button show-modal"><i class="sticky note outline icon "></i> Tạo mới</a>
            <a href="#link1" class="ui button"><i class="filter icon"></i> Lọc sản phẩm lỗi</a>
            <a href="#link1" class="ui button"><i class="file excel outline icon"></i> Xuất Excel</a>
            <a href="#link1" class="ui button"><i class="download icon"></i> Import Excel</a>
        </div>

    </h3>

    <h5>Selection</h5>

    <select class="ui dropdown">
        <option value="">Gender</option>
        <option value="1">Male</option>
        <option value="0">Female</option>
    </select>


    <pre class="language-markup"><code class="language-markup">
&lt;select class="ui dropdown"&gt;
  &lt;option value=""&gt;Gender&lt;/option&gt;
  &lt;option value="1"&gt;Male&lt;/option&gt;
  &lt;option value="0"&gt;Female&lt;/option&gt;
&lt;/select&gt;
    </code></pre>

    <h5>Search selection</h5>

    <select class="ui search dropdown">
        <option value="">Gender</option>
        <option value="1">Male</option>
        <option value="0">Female</option>
    </select>

    <pre class="language-markup"><code class="language-markup">
&lt;select class="ui search dropdown"&gt;
    &lt;option value=""&gt;Gender&lt;/option&gt;
    &lt;option value="1"&gt;Male&lt;/option&gt;
    &lt;option value="0"&gt;Female&lt;/option&gt;
&lt;/select&gt;
    </code></pre>


    <h5>Multiple selection</h5>

    <select name="skills" multiple="" class="ui fluid dropdown ">
        <option value="">Skills</option>
        <option value="css">CSS</option>
        <option value="design">Graphic Design</option>
        <option value="html">HTML</option>
        <option value="javascript">Javascript</option>
        <option value="react">React</option>
        <option value="ui">UI Design</option>
        <option value="ux">User Experience</option>
    </select>

    <pre class="language-markup"><code class="language-markup">
&lt;select name="skills" multiple="" class="ui fluid dropdown "&gt;
    &lt;option value=""&gt;Skills&lt;/option&gt;
    &lt;option value="css"&gt;CSS&lt;/option&gt;
    &lt;option value="design"&gt;Graphic Design&lt;/option&gt;
    &lt;option value="html"&gt;HTML&lt;/option&gt;
    &lt;option value="javascript"&gt;Javascript&lt;/option&gt;
    &lt;option value="react"&gt;React&lt;/option&gt;
    &lt;option value="ui"&gt;UI Design&lt;/option&gt;
    &lt;option value="ux"&gt;User Experience&lt;/option&gt;
&lt;/select&gt;
    </code></pre>


    <h5>Multiple search selection</h5>

    <select name="skills" multiple="" class="ui fluid search dropdown">
        <option value="">Skills</option>
        <option value="css">CSS</option>
        <option value="design">Graphic Design</option>
        <option value="html">HTML</option>
        <option value="javascript">Javascript</option>
        <option value="react">React</option>
        <option value="ui">UI Design</option>
        <option value="ux">User Experience</option>
    </select>

    <pre class="language-markup"><code class="language-markup">
&lt;select name="skills" multiple="" class="ui search  fluid dropdown"&gt;
    &lt;option value=""&gt;Skills&lt;/option&gt;
    &lt;option value="css"&gt;CSS&lt;/option&gt;
    &lt;option value="design"&gt;Graphic Design&lt;/option&gt;
    &lt;option value="html"&gt;HTML&lt;/option&gt;
    &lt;option value="javascript"&gt;Javascript&lt;/option&gt;
    &lt;option value="react"&gt;React&lt;/option&gt;
    &lt;option value="ui"&gt;UI Design&lt;/option&gt;
    &lt;option value="ux"&gt;User Experience&lt;/option&gt;
&lt;/select&gt;
    </code></pre>





    <div class="ui small info message">
        Xem thêm về dropdown tại đây : <a href="http://semantic-ui.com/modules/dropdown.html" target="_blank">Link</a>
    </div>

</div>

<br>

<br>


{{/content}}




{{#content "foot" mode="prepend"}}
<!--<script src="assets/js/analytics.js"></script>-->
{{/content}}
{{/extend}}