{{#extend "layout"}}
{{#content "head" mode="append"}}
<!--<link rel="stylesheet" href="assets/css/home.css" />-->
{{/content}}


{{#content "body"}}


<div class="ui secondary pointing menu menu-ngang">
    <a class="active item">
        QL Banner
    </a>
    <a class="item">
        QL Đối tác
    </a>
    <a class="item">
        QL Chương trình
    </a>

    <a class="item">
        Co-Brand
    </a>
    <a class="item">
        Sản phẩm bán chạy
    </a>

</div>


<div class="content-padding">

    <h3>Các loại form sử dụng

        <div class="ui small basic icon buttons">
            <a href="#modal1" class="ui button show-modal"><i class="sticky note outline icon "></i> Tạo mới</a>
            <a href="#link1" class="ui button"><i class="filter icon"></i> Lọc sản phẩm lỗi</a>
            <a href="#link1" class="ui button"><i class="file excel outline icon"></i> Xuất Excel</a>
            <a href="#link1" class="ui button"><i class="download icon"></i> Import Excel</a>
        </div>

    </h3>

    <h4 class="ui dividing header">
        Thanh filter
    </h4>

    <div class="filter">
        <div class="ui  form small">
            <div class="fields">
                <div class="field">
                    <label>Chọn hệ thống</label>

                    <select class="ui dropdown">
                        <option value="">Chọn hệ thống</option>
                        <option value="1">Administrator</option>
                        <option value="2">WEBVTA</option>
                        <option value="3">VNPOST</option>
                    </select>
                </div>
                <div class="field">
                    <label>Chọn chương trình</label>
                    <select class="ui search dropdown">
                        <option value="">Chọn chương trình</option>
                        <option value="1">Administrator</option>
                        <option value="2">WEBVTA</option>
                        <option value="3">VNPOST</option>
                    </select>
                </div>
                <div class="field">
                    <label>Chọn vị trí</label>
                    <select class="ui search dropdown">
                        <option value="">Chọn vị trí</option>
                        <option value="1">Administrator</option>
                        <option value="2">WEBVTA</option>
                        <option value="3">VNPOST</option>
                    </select>
                </div>

                <div class="field">
                    <label>Chọn ngày</label>

                    <div class="ui left icon input">
                        <input type="text" class="datepicker">
                        <i class="calendar icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label>Tên banner</label>
                    <input type="text" placeholder="Tên">
                </div>

                <div class="field">
                    <label>&nbsp</label>
                    <button class="ui button green medium">
                        <i class="icon search "></i> TÌM KIẾM
                    </button>
                </div>


            </div>
        </div>

    </div>

    <div class="ui accordion field">
        <div class="title">
            <i class="icon dropdown"></i>
            Xem code
        </div>
        <div class="content field">



     <pre class="language-markup"><code class="language-markup">
&lt;div class="filter"&gt;
    &lt;div class="ui  form small"&gt;
        &lt;div class="fields"&gt;
            &lt;div class="field"&gt;
                &lt;label&gt;Chọn hệ thống&lt;/label&gt;
                &lt;select class="ui dropdown"&gt;
                    &lt;option value=""&gt;Chọn hệ thống&lt;/option&gt;
                    &lt;option value="1"&gt;Administrator&lt;/option&gt;
                    &lt;option value="2"&gt;WEBVTA&lt;/option&gt;
                    &lt;option value="3"&gt;VNPOST&lt;/option&gt;
                &lt;/select&gt;
            &lt;/div&gt;
            &lt;div class="field"&gt;
                &lt;label&gt;Chọn chương trình&lt;/label&gt;
                &lt;select class="ui search dropdown"&gt;
                    &lt;option value=""&gt;Chọn chương trình&lt;/option&gt;
                    &lt;option value="1"&gt;Administrator&lt;/option&gt;
                    &lt;option value="2"&gt;WEBVTA&lt;/option&gt;
                    &lt;option value="3"&gt;VNPOST&lt;/option&gt;
                &lt;/select&gt;
            &lt;/div&gt;
            &lt;div class="field"&gt;
                &lt;label&gt;Chọn vị trí&lt;/label&gt;
                &lt;select class="ui search dropdown"&gt;
                    &lt;option value=""&gt;Chọn vị trí&lt;/option&gt;
                    &lt;option value="1"&gt;Administrator&lt;/option&gt;
                    &lt;option value="2"&gt;WEBVTA&lt;/option&gt;
                    &lt;option value="3"&gt;VNPOST&lt;/option&gt;
                &lt;/select&gt;
            &lt;/div&gt;
            &lt;div class="field"&gt;
                &lt;label&gt;Chọn ngày&lt;/label&gt;
                &lt;div class="ui left icon input"&gt;
                    &lt;input type="text" class="datepicker"&gt;
                    &lt;i class="calendar icon"&gt;&lt;/i&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="field"&gt;
                &lt;label&gt;Tên banner&lt;/label&gt;
                &lt;input type="text" placeholder="Tên"&gt;
            &lt;/div&gt;
            &lt;div class="field"&gt;
                &lt;label&gt;&nbsp&lt;/label&gt;
                &lt;button class="ui button green medium"&gt;
                    &lt;i class="icon search "&gt;&lt;/i&gt; TÌM KIẾM
                &lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
    </code></pre>

        </div>
    </div>


    <h4 class="ui dividing header">
        Sử dụng cho modal
    </h4>

    <button class="show-modal ui button green large " data-modal="modal1">Tạo banner</button>

    <div class="ui accordion field">
        <div class="title">
            <i class="icon dropdown"></i>
            Xem code
        </div>
        <div class="content field">



     <pre class="language-markup"><code class="language-markup">
&lt;div class="ui modal" id="modal1"&gt;
    &lt;i class="close icon"&gt;&lt;/i&gt;
    &lt;div class="header"&gt;
        Tạo mới banner
    &lt;/div&gt;
    &lt;div class="content"&gt;
        &lt;div class="ui  form small"&gt;
            &lt;h4 class="ui  header"&gt;Hệ thống và chương trình sử dụng&lt;/h4&gt;
            &lt;div class="fields"&gt;
                &lt;div class="four wide field"&gt;
                    &lt;select class="ui dropdown"&gt;
                        &lt;option value=""&gt;Chọn hệ thống&lt;/option&gt;
                        &lt;option value="1"&gt;Administrator&lt;/option&gt;
                        &lt;option value="2"&gt;WEBVTA&lt;/option&gt;
                        &lt;option value="3"&gt;VNPOST&lt;/option&gt;
                        &lt;option value="4"&gt;Mobile app&lt;/option&gt;
                    &lt;/select&gt;
                &lt;/div&gt;
                &lt;div class="four wide field"&gt;
                    &lt;select class="ui search dropdown"&gt;
                        &lt;option value=""&gt;Chọn chương trình&lt;/option&gt;
                        &lt;option value="1"&gt;Administrator&lt;/option&gt;
                        &lt;option value="2"&gt;WEBVTA&lt;/option&gt;
                        &lt;option value="3"&gt;VNPOST&lt;/option&gt;
                        &lt;option value="4"&gt;Mobile app&lt;/option&gt;
                    &lt;/select&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;h4 class="ui  header"&gt;Thời gian sử dụng cho banner&lt;/h4&gt;
            &lt;div class="fields"&gt;
                &lt;div class="four wide field"&gt;
                    &lt;div class="ui left icon input"&gt;
                        &lt;input type="text" class="datepicker" placeholder="Ngày bắt đầu"&gt;
                        &lt;i class="calendar icon"&gt;&lt;/i&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="four wide field"&gt;
                    &lt;div class="ui left icon input"&gt;
                        &lt;input type="text" class="datepicker" placeholder="Ngày kết thúc"&gt;
                        &lt;i class="calendar icon"&gt;&lt;/i&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;h4 class="ui  header"&gt;Thuộc tính hình ảnh&lt;/h4&gt;
            &lt;div class="fields"&gt;
                &lt;div class="four wide field"&gt;
                    &lt;input type="text" placeholder="Title hay ALT cho banner"&gt;
                &lt;/div&gt;
                &lt;div class="four wide field"&gt;
                    &lt;input type="text" placeholder="URL hình ảnh"&gt;
                &lt;/div&gt;
                &lt;div class="four wide field"&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;h4 class="ui  header"&gt;Kích thước & vị trí banner&lt;/h4&gt;
            &lt;div class="fields"&gt;
                &lt;div class="four wide field"&gt;
                    &lt;select class="ui search dropdown"&gt;
                        &lt;option value=""&gt;Kích thước banner&lt;/option&gt;
                        &lt;option value="1"&gt;Administrator&lt;/option&gt;
                        &lt;option value="2"&gt;WEBVTA&lt;/option&gt;
                        &lt;option value="3"&gt;VNPOST&lt;/option&gt;
                        &lt;option value="4"&gt;Mobile app&lt;/option&gt;
                    &lt;/select&gt;
                &lt;/div&gt;
                &lt;div class="four wide field"&gt;
                    &lt;select class="ui search dropdown"&gt;
                        &lt;option value=""&gt;Vị trí banner&lt;/option&gt;
                        &lt;option value="1"&gt;Administrator&lt;/option&gt;
                        &lt;option value="2"&gt;WEBVTA&lt;/option&gt;
                        &lt;option value="3"&gt;VNPOST&lt;/option&gt;
                        &lt;option value="4"&gt;Mobile app&lt;/option&gt;
                    &lt;/select&gt;
                &lt;/div&gt;
                &lt;div class="four wide field"&gt;
                    &lt;select class="ui search dropdown"&gt;
                        &lt;option value=""&gt;Vị trí trên trang&lt;/option&gt;
                        &lt;option value="1"&gt;Administrator&lt;/option&gt;
                        &lt;option value="2"&gt;WEBVTA&lt;/option&gt;
                        &lt;option value="3"&gt;VNPOST&lt;/option&gt;
                        &lt;option value="4"&gt;Mobile app&lt;/option&gt;
                    &lt;/select&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;h4 class="ui  header"&gt;Link hình ảnh&lt;/h4&gt;
            &lt;div class="fields"&gt;
                &lt;div class="eight wide field"&gt;
                    &lt;img class="ui small  image" src="http://placehold.it/350x150"&gt; &lt;br&gt;
                    &lt;input type="url" placeholder="Link hình ảnh "&gt;
                &lt;/div&gt;
                &lt;div class="eight wide field"&gt;
                    &lt;img class="ui small  image" src="http://placehold.it/350x150"&gt; &lt;br&gt;
                    &lt;input type="url" placeholder="Link hình ảnh mobile "&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;h4 class="ui  header"&gt;Bài viết sản phẩm&lt;/h4&gt;
            &lt;textarea class="editor-tinymce"&gt;Easy! You should check out MoxieManager!&lt;/textarea&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="actions"&gt;
        &lt;div class="ui deny button"&gt;
            Hủy
        &lt;/div&gt;
        &lt;div class="ui positive right labeled icon button"&gt;
            Tạo banner
            &lt;i class="checkmark icon"&gt;&lt;/i&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
    </code></pre>

        </div>
    </div>




    <h4 class="ui dividing header">
        Form mẫu cho việc tạo mới thành phần
    </h4>

    <div class="ui  form small">

        <h4 class="ui  header">Hệ thống và chương trình sử dụng</h4>

        <div class="fields">
            <div class="four wide field">
                <select class="ui dropdown">
                    <option value="">Chọn hệ thống</option>
                    <option value="1">Administrator</option>
                    <option value="2">WEBVTA</option>
                    <option value="3">VNPOST</option>
                    <option value="4">Mobile app</option>
                </select>
            </div>
            <div class="four wide field">
                <select class="ui search dropdown">
                    <option value="">Chọn chương trình</option>
                    <option value="1">Administrator</option>
                    <option value="2">WEBVTA</option>
                    <option value="3">VNPOST</option>
                    <option value="4">Mobile app</option>
                </select>
            </div>

        </div>


        <h4 class="ui  header">Thời gian sử dụng cho banner</h4>

        <div class="fields">
            <div class="four wide field">

                <div class="ui left icon input">
                    <input type="text" class="datepicker" placeholder="Ngày bắt đầu">
                    <i class="calendar icon"></i>
                </div>

            </div>
            <div class="four wide field">
                <div class="ui left icon input">
                    <input type="text" class="datepicker" placeholder="Ngày kết thúc">
                    <i class="calendar icon"></i>
                </div>
            </div>

        </div>

        <h4 class="ui  header">Thuộc tính hình ảnh</h4>

        <div class="fields">
            <div class="four wide field">
                <input type="text" placeholder="Title hay ALT cho banner">
            </div>
            <div class="four wide field">
                <input type="text" placeholder="URL hình ảnh">
            </div>
            <div class="four wide field">

            </div>
        </div>

        <h4 class="ui  header">Kích thước & vị trí banner</h4>

        <div class="fields">
            <div class="four wide field">
                <select class="ui search dropdown">
                    <option value="">Kích thước banner</option>
                    <option value="1">Administrator</option>
                    <option value="2">WEBVTA</option>
                    <option value="3">VNPOST</option>
                    <option value="4">Mobile app</option>
                </select>
            </div>
            <div class="four wide field">
                <select class="ui search dropdown">
                    <option value="">Vị trí banner</option>
                    <option value="1">Administrator</option>
                    <option value="2">WEBVTA</option>
                    <option value="3">VNPOST</option>
                    <option value="4">Mobile app</option>
                </select>
            </div>
            <div class="four wide field">

                <select class="ui search dropdown">
                    <option value="">Vị trí trên trang</option>
                    <option value="1">Administrator</option>
                    <option value="2">WEBVTA</option>
                    <option value="3">VNPOST</option>
                    <option value="4">Mobile app</option>
                </select>

            </div>
        </div>


        <h4 class="ui  header">Link hình ảnh</h4>

        <div class="fields">

            <div class="eight wide field">
                <img class="ui small  image" src="http://placehold.it/350x150"> <br>
                <input type="url" placeholder="Link hình ảnh ">
            </div>


            <div class="eight wide field">
                <img class="ui small  image" src="http://placehold.it/350x150"> <br>

                <input type="url" placeholder="Link hình ảnh mobile ">
            </div>

        </div>

        <h4 class="ui  header">Bài viết sản phẩm</h4>

        <textarea class="editor-tinymce">Easy! You should check out MoxieManager!</textarea>




    </div>




</div>

{{>modal}}

<br>

<br>


{{/content}}


{{#content "foot" mode="prepend"}}
<!--<script src="assets/js/analytics.js"></script>-->
{{/content}}
{{/extend}}