{{#extend "layout"}}
{{#content "head" mode="append"}}
<!--<link rel="stylesheet" href="assets/css/home.css" />-->
{{/content}}


{{#content "body"}}


<div class="ui secondary pointing menu menu-ngang">
    <a class="active item">
        QL Banner
    </a>
    <a class="item">
        QL Đối tác
    </a>
    <a class="item">
        QL Chương trình
    </a>

    <a class="item">
        Co-Brand
    </a>
    <a class="item">
        Sản phẩm bán chạy
    </a>

</div>


<div class="content-padding">

    <h4 class="ui dividing header">
        Header có nút chức năng
    </h4>

    <h3>Quản lý Banner &nbsp;&nbsp;

        <div class="ui small basic icon buttons">
            <a href="#modal1" class="ui button show-modal"><i class="sticky note outline icon "></i> Tạo mới</a>
            <a href="#link1" class="ui button"><i class="filter icon"></i> Lọc sản phẩm lỗi</a>
            <a href="#link1" class="ui button"><i class="file excel outline icon"></i> Xuất Excel</a>
            <a href="#link1" class="ui button"><i class="download icon"></i> Import Excel</a>
        </div>

    </h3>


    <div class="ui accordion field">
        <div class="title">
            <i class="icon dropdown"></i>
            Xem code
        </div>
        <div class="content field">

            <pre class="language-markup"><code class="language-markup">
&lt;h3&gt;Quản lý Banner &nbsp;
  &lt;div class="ui small basic icon buttons"&gt;
      &lt;a href="#" class="ui button show-modal"&gt;&lt;i class="sticky note outline icon "&gt;&lt;/i&gt; Tạo mới&lt;/a&gt;
      &lt;a href="#" class="ui button"&gt;&lt;i class="filter icon"&gt;&lt;/i&gt; Lọc sản phẩm lỗi&lt;/a&gt;
      &lt;a href="#" class="ui button"&gt;&lt;i class="file excel outline icon"&gt;&lt;/i&gt; Xuất Excel&lt;/a&gt;
      &lt;a href="#" class="ui button"&gt;&lt;i class="download icon"&gt;&lt;/i&gt; Import Excel&lt;/a&gt;
   &lt;/div&gt;
&lt;/h3&gt;
    </code></pre>


        </div>
    </div>

    <h4 class="ui dividing header">
        Header 2 có nút chức năng
    </h4>

    <h3 class="ui top attached header">
        Sản phẩm mới &nbsp;

        <div class="ui small basic icon buttons">
            <a href="#modal1" class="ui button show-modal"><i class="sticky note outline icon "></i> Tạo mới</a>
            <a href="#link1" class="ui button"><i class="filter icon"></i> Lọc sản phẩm lỗi</a>
            <a href="#link1" class="ui button"><i class="file excel outline icon"></i> Xuất Excel</a>
            <a href="#link1" class="ui button"><i class="download icon"></i> Import Excel</a>
        </div>
    </h3>
    <div class="ui attached segment">
        <p>Nội dung</p>
    </div>

    <div class="ui accordion field">
        <div class="title">
            <i class="icon dropdown"></i>
            Xem code
        </div>
        <div class="content field">
            <pre class="language-markup"><code class="language-markup">
&lt;h3 class="ui top attached header"&gt;
    Sản phẩm mới &nbsp;
    &lt;div class="ui small basic icon buttons"&gt;
        &lt;a href="#modal1" class="ui button show-modal"&gt;&lt;i class="sticky note outline icon "&gt;&lt;/i&gt; Tạo mới&lt;/a&gt;
        &lt;a href="#link1" class="ui button"&gt;&lt;i class="filter icon"&gt;&lt;/i&gt; Lọc sản phẩm lỗi&lt;/a&gt;
        &lt;a href="#link1" class="ui button"&gt;&lt;i class="file excel outline icon"&gt;&lt;/i&gt; Xuất Excel&lt;/a&gt;
        &lt;a href="#link1" class="ui button"&gt;&lt;i class="download icon"&gt;&lt;/i&gt; Import Excel&lt;/a&gt;
    &lt;/div&gt;
&lt;/h3&gt;
&lt;div class="ui attached segment"&gt;
    &lt;p&gt;Nội dung&lt;/p&gt;
&lt;/div&gt;
                
    </code></pre>


        </div>
    </div>






    <h4 class="ui dividing header">
        Header
    </h4>

    <h1 class="ui header">Header h1
        <div class="sub header">Sub Header</div>
    </h1>
    <h2 class="ui header">Header h2</h2>
    <h3 class="ui header">Header h3</h3>
    <h4 class="ui header">Header h4</h4>
    <h5 class="ui header">Header h5</h5>

    <h4 class="ui dividing header">
        Header có gạch dưới
    </h4>



    <div class="ui accordion field">
        <div class="title">
            <i class="icon dropdown"></i>
            Xem code
        </div>
        <div class="content field">

           <pre class="language-markup"><code class="language-markup">
&lt;h1 class="ui header"&gt;Header h1
    &lt;div class="sub header"&gt;Sub Header&lt;/div&gt;
&lt;/h1&gt;
&lt;h2 class="ui header"&gt;Header h2&lt;/h2&gt;
&lt;h3 class="ui header"&gt;Header h3&lt;/h3&gt;
&lt;h4 class="ui header"&gt;Header h4&lt;/h4&gt;
&lt;h5 class="ui header"&gt;Header h5&lt;/h5&gt;

&lt;h4 class="ui dividing header"&gt;
    Header có gạch dưới
&lt;/h4&gt;
    </code></pre>


        </div>
    </div>



    <div class="ui small info message">
        Xem thêm về message tại đây : <a href="http://semantic-ui.com/elements/header.html" target="_blank">Link</a>
    </div>




</div>

<br>

<br>


{{/content}}


{{#content "foot" mode="prepend"}}
<!--<script src="assets/js/analytics.js"></script>-->
{{/content}}
{{/extend}}