{{#extend "layout"}}
{{#content "head" mode="append"}}
<!--<link rel="stylesheet" href="assets/css/home.css" />-->
{{/content}}


{{#content "body"}}


<div class="ui secondary pointing menu menu-ngang">
    <a class="active item">
        QL Banner
    </a>
    <a class="item">
        QL Đối tác
    </a>
    <a class="item">
        QL Chương trình
    </a>

    <a class="item">
        Co-Brand
    </a>
    <a class="item">
        Sản phẩm bán chạy
    </a>

</div>


<div class="content-padding">

    <h3>Input thường sử dụng

        <div class="ui small basic icon buttons">
            <a href="#modal1" class="ui button show-modal"><i class="sticky note outline icon "></i> Tạo mới</a>
            <a href="#link1" class="ui button"><i class="filter icon"></i> Lọc sản phẩm lỗi</a>
            <a href="#link1" class="ui button"><i class="file excel outline icon"></i> Xuất Excel</a>
            <a href="#link1" class="ui button"><i class="download icon"></i> Import Excel</a>
        </div>

    </h3>

    <h5>Input</h5>

    <div class="ui input">
        <input type="text" placeholder="Search...">
    </div>


    <pre class="language-markup"><code class="language-markup">
&lt;div class="ui input"&gt;
    &lt;input type="text" placeholder="Search..."&gt;
&lt;/div&gt;
    </code></pre>

    <h5>Focus</h5>

    <div class="ui input focus">
        <input type="text" placeholder="Search...">
    </div>
    
    <pre class="language-markup"><code class="language-markup">
&lt;div class="ui input focus"&gt;
    &lt;input type="text" placeholder="Search..."&gt;
&lt;/div&gt;
    </code></pre>
    
    
    <h5>Loading</h5>

    <div class="ui icon input loading">
        <input type="text" placeholder="Search...">
        <i class="search icon"></i>
    </div>

    <pre class="language-markup"><code class="language-markup">
&lt;div class="ui icon input loading"&gt;
    &lt;input type="text" placeholder="Search..."&gt;
    &lt;i class="search icon"&gt;&lt;/i&gt;
&lt;/div&gt;
    </code></pre>
    

    <h5>Disable</h5>
    <div class="ui disabled input">
        <input type="text" placeholder="Search...">
    </div>

    <pre class="language-markup"><code class="language-markup">
&lt;div class="ui disabled input"&gt;
    &lt;input type="text" placeholder="Search..."&gt;
&lt;/div&gt;
    </code></pre>
    
    
    <h5>Error</h5>

    <div class="ui input error">
        <input type="text" placeholder="Search...">
    </div>

    <pre class="language-markup"><code class="language-markup">
&lt;div class="ui input error"&gt;
    &lt;input type="text" placeholder="Search..."&gt;
&lt;/div&gt;
    </code></pre>

    <h5>Icon</h5>
    <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search icon"></i>
    </div>
    <pre class="language-markup"><code class="language-markup">
&lt;div class="ui icon input"&gt;
    &lt;input type="text" placeholder="Search..."&gt;
    &lt;i class="search icon"&gt;&lt;/i&gt;
&lt;/div&gt;
    </code></pre>

    <h5>Date picker</h5>
    <div class="ui left icon input">
        <input type="text" class="datepicker">
        <i class="calendar icon"></i>
    </div>
    
    <pre class="language-markup"><code class="language-markup">
&lt;div class="ui left icon input"&gt;
    &lt;input type="text" class="datepicker"&gt;
    &lt;i class="calendar icon"&gt;&lt;/i&gt;
&lt;/div&gt;
    </code></pre>

    <pre class=" language-javascript"><code class=" language-javascript">
$('.datepicker').pickadate({
    monthsFull: ["Tháng Một", "Tháng Hai", "Tháng Ba", "Tháng Tư", "Tháng Năm", "Tháng Sáu", "Tháng Bảy", "Tháng Tám", "Tháng Chín", "Tháng Mười", "Tháng Mười Một", "Tháng Mười Hai"],
    monthsShort: ["Một", "Hai", "Ba", "Tư", "Năm", "Sáu", "Bảy", "Tám", "Chín", "Mưới", "Mười Một", "Mười Hai"],
    weekdaysFull: ["Chủ Nhật", "Thứ Hai", "Thứ Ba", "Thứ Tư", "Thứ Năm", "Thứ Sáu", "Thứ Bảy"],
    weekdaysShort: ["C.Nhật", "T.Hai", "T.Ba", "T.Tư", "T.Năm", "T.Sáu", "T.Bảy"],
    today: "Hôm Nay",
    clear: "Xoá",
    firstDay: 1,
    formatSubmit: 'yyyy/mm/dd',
    format: 'dd/mm/yyyy'
})
</code></pre>

    <h5>Tinymce</h5>
    <textarea class="editor-tinymce">Easy! You should check out MoxieManager!</textarea>

    <pre class="language-markup"><code class="language-markup">
&lt;textarea class="editor-tinymce"&gt;Easy! You should check out MoxieManager!&lt;/textarea&gt;
    </code></pre>

    <pre class=" language-javascript"><code class=" language-javascript">
tinymce.init({
    selector:'textarea.editor-tinymce',
});
</code></pre>


    <div class="ui small info message">
        Xem thêm về input tại đây : <a href="http://semantic-ui.com/elements/input.html" target="_blank">Link</a> <br>

        Xem thêm về pickadate tại đây : <a href="http://amsul.ca/pickadate.js/date/" target="_blank">Link</a> <br>

        Xem thêm về tinymce tại đây : <a href="https://www.tinymce.com/" target="_blank">Link</a>
    </div>
    

</div>

<br>

<br>


{{/content}}




{{#content "foot" mode="prepend"}}
<!--<script src="assets/js/analytics.js"></script>-->
{{/content}}
{{/extend}}