{{#extend "layout"}}
{{#content "head" mode="append"}}
<!--<link rel="stylesheet" href="assets/css/home.css" />-->
{{/content}}


{{#content "body"}}


<div class="ui secondary pointing menu menu-ngang">
    <a class="active item">
        QL Banner
    </a>
    <a class="item">
        QL Đối tác
    </a>
    <a class="item">
        QL Chương trình
    </a>

    <a class="item">
        Co-Brand
    </a>
    <a class="item">
        Sản phẩm bán chạy
    </a>

</div>


<div class="content-padding">

    <h3>Input thường sử dụng

        <div class="ui small basic icon buttons">
            <a href="#modal1" class="ui button show-modal"><i class="sticky note outline icon "></i> Tạo mới</a>
            <a href="#link1" class="ui button"><i class="filter icon"></i> Lọc sản phẩm lỗi</a>
            <a href="#link1" class="ui button"><i class="file excel outline icon"></i> Xuất Excel</a>
            <a href="#link1" class="ui button"><i class="download icon"></i> Import Excel</a>
        </div>

    </h3>

    <h5>Input</h5>

    <div class="ui input">
        <input type="text" placeholder="Search...">
    </div>


    <pre class="language-markup"><code class="language-markup">
&lt;div class="ui input"&gt;
    &lt;input type="text" placeholder="Search..."&gt;
&lt;/div&gt;
    </code></pre>

    <h5>Focus</h5>

    <div class="ui input focus">
        <input type="text" placeholder="Search...">
    </div>
    
    <pre class="language-markup"><code class="language-markup">
&lt;div class="ui input focus"&gt;
    &lt;input type="text" placeholder="Search..."&gt;
&lt;/div&gt;
    </code></pre>
    
    
    <h5>Loading</h5>

    <div class="ui icon input loading">
        <input type="text" placeholder="Search...">
        <i class="search icon"></i>
    </div>

    <pre class="language-markup"><code class="language-markup">
&lt;div class="ui icon input loading"&gt;
    &lt;input type="text" placeholder="Search..."&gt;
    &lt;i class="search icon"&gt;&lt;/i&gt;
&lt;/div&gt;
    </code></pre>
    

    <h5>Disable</h5>
    <div class="ui disabled input">
        <input type="text" placeholder="Search...">
    </div>

    <pre class="language-markup"><code class="language-markup">
&lt;div class="ui disabled input"&gt;
    &lt;input type="text" placeholder="Search..."&gt;
&lt;/div&gt;
    </code></pre>
    
    
    <h5>Error</h5>

    <div class="ui input error">
        <input type="text" placeholder="Search...">
    </div>

    <pre class="language-markup"><code class="language-markup">
&lt;div class="ui input error"&gt;
    &lt;input type="text" placeholder="Search..."&gt;
&lt;/div&gt;
    </code></pre>

    <h5>Icon</h5>
    <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search icon"></i>
    </div>
    <pre class="language-markup"><code class="language-markup">
&lt;div class="ui icon input"&gt;
    &lt;input type="text" placeholder="Search..."&gt;
    &lt;i class="search icon"&gt;&lt;/i&gt;
&lt;/div&gt;
    </code></pre>


    <div class="ui small info message">
        Xem thêm về input tại đây : <a href="http://semantic-ui.com/elements/input.html" target="_blank">Link</a>
    </div>
    

</div>

<br>

<br>


{{/content}}




{{#content "foot" mode="prepend"}}
<!--<script src="assets/js/analytics.js"></script>-->
{{/content}}
{{/extend}}