<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->


    {{#block "head"}}


    <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="datatable/dataTables.semanticui.min.css">

    <link rel="stylesheet" type="text/css" href="prism/prism.css">


    <script src="js/jquery.js"></script>
    <script src="semantic/semantic.min.js"></script>

    <link rel="stylesheet" href="css/inline.css">
    <link rel="stylesheet" href="css/app.css">
    {{/block}}


    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body > .grid {
            height: 100%;
        }

        .image {
            /*margin-top: -100px;*/
        }

        .column {
            max-width: 450px;
        }
    </style>
    <script>
        $(document)
            .ready(function () {
                $('.ui.form')
                        .form({
                            fields: {
                                email: {
                                    identifier: 'email',
                                    rules: [
                                        {
                                            type: 'empty',
                                            prompt: 'Please enter your e-mail'
                                        },
                                        {
                                            type: 'email',
                                            prompt: 'Please enter a valid e-mail'
                                        }
                                    ]
                                },
                                password: {
                                    identifier: 'password',
                                    rules: [
                                        {
                                            type: 'empty',
                                            prompt: 'Please enter your password'
                                        },
                                        {
                                            type: 'length[6]',
                                            prompt: 'Your password must be at least 6 characters'
                                        }
                                    ]
                                }
                            }
                        })
                ;
            })
        ;
    </script>

</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<div class="ui middle aligned center aligned grid">
    <div class="column">
            <img src="https://cdn1.vienthonga.vn/image/2016/10/5/100000_vta-admin-logo.png" class="" width="250">
            <!--<div class="content">-->
                <!--VTA ADMIN CP-->
            <!--</div>-->
        <br>
        <br>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="email" name="email" placeholder="Tài khoản">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="ui fluid large green submit button">Đăng nhập</div>
            </div>

            <div class="ui error message"></div>

        </form>

        <!--<div class="ui message">-->
            <!--New to us? <a href="#">Sign Up</a>-->
        <!--</div>-->
    </div>
</div>


</body>

</html>