{{#extend "layout"}}
{{#content "head" mode="append"}}
<!--<link rel="stylesheet" href="assets/css/home.css" />-->
{{/content}}


{{#content "body"}}


<div class="ui secondary pointing menu menu-ngang">
    <a class="active item">
        QL Banner
    </a>
    <a class="item">
        QL Đối tác
    </a>
    <a class="item">
        QL Chương trình
    </a>

    <a class="item">
        Co-Brand
    </a>
    <a class="item">
        Sản phẩm bán chạy
    </a>

</div>


<div class="content-padding">

    <h3>Form validation

        <div class="ui small basic icon buttons">
            <a href="#modal1" class="ui button show-modal"><i class="sticky note outline icon "></i> Tạo mới</a>
            <a href="#link1" class="ui button"><i class="filter icon"></i> Lọc sản phẩm lỗi</a>
            <a href="#link1" class="ui button"><i class="file excel outline icon"></i> Xuất Excel</a>
            <a href="#link1" class="ui button"><i class="download icon"></i> Import Excel</a>
        </div>

    </h3>




    <div class="ui small info message">
        Xem thêm về validation tại đây : <a href="http://semantic-ui.com/behaviors/form.html" target="_blank">Link</a>
    </div>

</div>

<br>

<br>


{{/content}}


{{#content "foot" mode="prepend"}}
<!--<script src="assets/js/analytics.js"></script>-->
{{/content}}
{{/extend}}