<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->


    {{#block "head"}}


    <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="datatable/dataTables.semanticui.min.css">

    <link rel="stylesheet" type="text/css" href="prism/prism.css">


    <script src="js/jquery.js"></script>
    <script src="semantic/semantic.min.js"></script>

    <script src="datatable/jquery.dataTables.min.js"></script>
    <script src="datatable/dataTables.semanticui.min.js"></script>

    <link rel="stylesheet" href="css/inline.css">
    <link rel="stylesheet" href="css/app.css">
    {{/block}}

</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->



<div class="topNav">

    <div class="row between-xs middle-xs">
        <div class="col-xs ">
            <div class="logo">
                <a href="index.html"><img src="https://cdn1.vienthonga.vn/image/2016/10/5/100000_vta-admin-logo.png" width="200"
                                alt=""></a>
            </div>


            <div class="ui  search">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Tìm kiếm trên trang Admin">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>

        </div>
        <div class="col-xs shrink">

            <div class="ui  dropdown top right pointing">
                <input type="hidden" name="gender">

                <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/jenny.jpg">
                <span>Username</span>

                <i class="dropdown icon"></i>

                <div class="menu">
                    <a class="item" href="#link1"><i class="edit icon"></i> Sửa thông tin</a>
                    <a class="item" href="#link2"><i class="lock icon"></i> Đổi mật khẩu</a>
                    <div class="divider"></div>
                    <a class="item" href="#link3"><i class="sign out icon"></i> Đăng xuất</a>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row flex-nowrap">
    <div class="col-xs shrink">

        <div class="sidebar">

            <div class="ui  big label fluid">
                <i class="cubes icon"></i> Các dự án
            </div>



            <div class="ui accordion desadmin-sidebar-accordion">
                <div class="title active">
                    <i class="dropdown icon"></i>
                    <i class="code icon"></i>
                    Easyapp
                </div>
                <div class="content active">

                    <div class="ui secondary vertical menu">
                        <a href="index.html" class="item {{#ifCond activeLink 'index'}} active {{else}} {{/ifCond}}">
                            Website Management
                        </a>
                       
                         <a href="header.html " class="item {{#ifCond activeLink 'header'}} active {{else}} {{/ifCond}}">
                            Account Management
                        </a>

                        <a href="message.html " class="item {{#ifCond activeLink 'message'}} active {{else}} {{/ifCond}}">
                            Message
                        </a>



                    </div>

                </div>
              

            </div>

        </div>



    </div>

    <div class="col-xs">

        {{#block "body"}}



        {{/block}}


    </div>
</div>






{{#block "footer"}}

{{/block}}

{{#block "foot"}}

<script src="js/toastr.min.js"></script>

<script src="pickadate/picker.js"></script>
<script src="pickadate/picker.date.js"></script>

<script src="tinymce/tinymce.min.js"></script>

<script src="prism/prism.js"></script>

<script src="js/sweetalert.min.js"></script>

<script src="js/main.js"></script>


{{/block}}


</body>

</html>