.force-hardware{
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.force-hardware-2{
  transform: translate3d(0, 0, 0);
}

/*! Disable select */
.none-select{
  user-select: none;
}


/*! Typography -- Helpers */
.type--uppercase{
  text-transform: uppercase;
}

.type--bold{
  font-weight: bold;
}

.type--italic{
  font-style: italic;
}

.type--linethrough{
  text-decoration: line-through;
}

.type--underline{
  text-decoration: underline;
}

.type--justify{
  text-align: justify;
}
.type--whitespace{
  white-space: nowrap;
}

/*! Ellipsis text */
.ellipsis {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.center-block{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

//List style
.list--unstyled{
  @include list-unstyled;
}

.list--inline{
  @include list-inline;
}